<%= link_to "Close", user_root_path, class: "emulate-close" %>
<section class="page-form-wrapper wide">
<div class="row">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    </div>
  
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
  
    <div class="field">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>
  
    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
  
    <div class="field">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>
  
    <div class="actions">
      <%= f.submit "Update", class: "bordered-button" %>
    </div>
  <% end %>
  <div class="form-links-wrapper">
    <%= link_to "Back", :back, class: "link-to-back" %>
  </div>
</div>
<div class="row emotional-dark">
  <img src="/i/sad-emotion.svg" width="150px" alt="We are so sad" />
  <h3>Here's how to say buh-bye forever to Wallet Mate.</h3>
  <p>You can delete your Wallet Mate Account <strong>at any time</strong>. If you change your mind, you might not be able to recover it.</p>
  <label data-width="full">
    <input type="checkbox" />&nbsp;Yes! Close my account permanently and remove information from Wallet Mate.
  </label>
  <p>&nbsp;</p>
  <label data-width="full">
    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "darkest" %>
  </label>
</div>
</section>