<header data-role="user-cabinet-header">
  <span class="wallet-profile font-slab">
    <img src="/images/sign.svg" alt="<%= current_user.user_nickname %>`s wallet mate" width="50px" />
    <%= current_user.user_nickname %>`s wallet mate
  </span>
  <%= render :partial => "shared/personality_switch_form" %>
  <span class="user-profile-header font-slab">
    <% unless current_page?(user_root_path) %>
      <%= link_to "Cabinet", user_root_path, class: "button flat-button ruby-button" %>
    <% end %>
    <% unless current_page?(people_path) %>
      <%= link_to "Personality management", people_path, class: "button flat-button ruby-button" %>
    <% end %>
    <%= link_to "Edit profile", edit_user_registration_path, class: "button flat-button ruby-button" %>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "button flat-button" %>
  </span>
</header>