<header>
  <nav data-role="site-nav-menu">
    <% if @static.id? %>
      <%= link_to "Home", statics_path, class: "nav-link home-link" %>
    <% else %>
      <span class="nav-active home-link">Home</span>
    <% end %>
    <% @statics.each do |static| %>
      <% if @static.id == static.id %>
        <span class="nav-active"><%= static.title %></span>
      <% else %>
        <%= link_to static.title, static, class: "nav-link" %>
      <% end %>
    <% end %>
  </nav>
  <% unless user_signed_in? %>
    <%= link_to "Log in", new_user_session_path, class: "button flat-button" %>
  <% else %>
    <div class="user-profile-header font-slab">
      Hello, <%= current_user.user_nickname %>!
      <%= link_to "Cabinet", cabinet_path, class: "button flat-button ruby-button" %>
      <%= link_to "Edit profile", edit_user_registration_path, class: "button flat-button ruby-button" %>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "button flat-button" %>
    </div>
  <% end %>
</header>