<div class="view-modifier-wrapper">
<%= form_tag(path+"#transactions" , method: :get, class: "date-picking") do -%>
  <label><input type="checkbox" name="only_imporant" value="true" <%= :checked if params[:only_imporant].present? %> />&nbsp;Only improtant</label>
  <label><input type="checkbox" name="only_with_description" value="true" <%= 'checked="checked"' if params[:only_with_description].present? %> />&nbsp;Only with description</label>
  <%= "<input type=\"hidden\" name=\"category_id\" value=\"#{@category.id}\" />".html_safe if @category.present? %>
  <input type="date" id="start" name="created_at[]" value="<%= @fStartDate %>" max="<%= Date.today %>" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" />
   &ndash; 
  <input type="date" id="end" name="created_at[]" value="<%= @fEndDate %>" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" />
  <button type="submit" class="ruby-button">Apply</button>
  <%= link_to 'Drop Filter', path, class: "button" %>
<% end -%>
</div>