<%= form_with(model: static, class: "page-edit-form") do |form| %>
  <% if static.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(static.errors.count, "error") %> prohibited this static from being saved:</h2>
      <ul>
        <% static.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div data-role="field">
    <%= form.label :title %>
    <%= form.text_field :title %></div>
  <div data-role="field">
    <%= form.label :introtext %>
    <%= form.text_area :introtext, class: "introtext-field" %></div>
  <div data-role="field">
    <%= form.label :content %>
    <%= form.text_area :content, class: "expanded-by-editor" %></div>
  <div data-role="actions">
    <%= form.submit %></div>
<% end %>
<%provide(:inner_includes, '<link href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />'.to_s.html_safe)%>
