<% if current_user.present? && current_user.is_admin? %>
<%provide(:current_page_title, "Editing #{@static.title} - ")%>
<div id="app-manager">
  <h4><%= @static.title %>:</h4>
  <%= link_to 'Show', @static, class: "manager-button" %>
  <%= link_to 'Back', :back, class: "manager-button" %>
</div>

<article class="single">
  <%= link_to "Close", statics_path, class: "emulate-close" %>
  <h1 align="center">Editing &laquo;<%= @static.title %>&raquo; page</h1>
  <%= render 'form', static: @static %>
</article>
<% end %>