<%provide(:current_page_title, "#{@static.title} - ")%>
<%provide(:meta_description, @static.introtext)%>

<div id="app-manager">
  <h4><%= @static.title %>:</h4>
  <%= link_to 'Edit', edit_static_path(@static), class: "manager-button" %>
  <%= link_to 'Back', statics_path, class: "manager-button" %>
</div>

<%= render :partial => "shared/site_header" %>
<article>
  <section class="static-page-content">
    <h1><%= @static.title %></h1>
    <blockquote data-role="introtext">
      <%= @static.introtext %>
    </blockquote>
    <%= @static.content.html_safe %>
  </section>
</article>
<%= render :partial => "shared/site_footer" %>